
.container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

.left-section {
  background-color: #000; 
  padding: 2rem;
}

.right-section {
  background-color: #575050;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh; 
  box-sizing: border-box; 
}


.hero-box {
  background-color: #2c2a04;
  border-radius: 20px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.slogan-image {
  max-width: 80%;
  height: auto;
}

.people-image {
  max-width: 90%;
  height: auto;
}

.middle-content {
  height: 280px;
  width: 100%;
  background-color: #423c3c; 
}

.footer-placeholder {
  height: 60px;
  width: 100%;
  background-color: #363030; 
}


@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .right-section {
    height: auto;
  }
}


